:root {
  --bg-color: #fafafa;
  --main-color: #fa4a0c;
  --secondary-color: #737373;
  --black-color: #252b42;
  font-family: 'Montserrat', sans-serif;
}
.ta-center {
  text-align: center;
}
.multiline-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
