.page-footer {
  padding: 20px 30px;
}
.copyright{
  opacity: 0.7;
}
.img-link {
  padding: 15px;
}
.links {
  padding-bottom: 20px;
}
.page-footer * {
  text-align: center;
}
.footer-logo-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .links {
    padding-bottom: 0px;
  }
  .footer-logo-container {
    display: block;
  }
}
